/.editorconfig    export-ignore
/.envrc           export-ignore
/.gitattributes   export-ignore
/.github/         export-ignore
/.gitignore       export-ignore
/.php_cs          export-ignore
/flake.lock       export-ignore
/flake.nix        export-ignore
/phpspec.ci.yml   export-ignore
/phpspec.yml.dist export-ignore
/spec/            export-ignore
